<navbar [items]="items" (toggleCartEventEmitter)="toggleCart()" />
<div class="container">
  <h2>Catalogo de productos App!</h2>

  <div class="row">
    <div [className]="showCart ? 'col-9' : 'col'">
      <catalog
        [products]="products"
        (productsEventEmitter)="onAddCart($event)"
      />
    </div>
    @if (showCart) {
    <cart-modal
      [items]="items"
      [total]="total"
      (idProductEventEmitter)="onDeleteCart($event)"
      (toggleCartEventEmitter)="toggleCart()"
    />
    }
  </div>
</div>
